*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#f8f9fb;

    font-family:Arial, Helvetica, sans-serif;
}

.main-content{

    margin-left:260px;

    margin-top:72px;

    padding:25px;

    min-height:100vh;

    transition:.3s;
}

.loading{
    display: flex;
    width: fit-content;
    height: 100%;
    justify-self: center;
    padding: 20px;
    background-color: orangered;
    color: white;
}

@media(max-width:992px){

    .main-content{

        margin-left:0;

        padding:20px;
    }

}