.lab-page{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.lab-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.lab-header h2{
    color:#333;
}

.add-btn{
    display:flex;
    align-items:center;
    gap:8px;
    background:#f97316;
    color:#fff;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.add-btn:hover{
    background:#dc2626;
}

.summary-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.summary-card{
    background:#fff;
    border-radius:18px;
    padding:22px;
    display:flex;
    align-items:center;
    gap:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.05);
}

.summary-icon{
    width:65px;
    height:65px;
    border-radius:16px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:26px;
}

.orange{
    background:#f97316;
}

.red{
    background:#dc2626;
}

.summary-card h2{
    color:#333;
    margin-bottom:5px;
}

.summary-card p{
    color:#777;
}

.toolbar{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:16px;
}

.search-box{
    display:flex;
    align-items:center;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    padding:0 15px;
}

.search-box svg{
    color:#f97316;
}

.search-box input{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
}

.toolbar select{
    padding:12px;
    border-radius:10px;
    border:1px solid #ddd;
}

.table-card{
    background:#fff;
    border-radius:18px;
    padding:22px;
    box-shadow:0 8px 20px rgba(0,0,0,.05);
}

.table-card h3{
    margin-bottom:18px;
    color:#333;
}

.table-container{
    overflow-x:auto;
}

table{
    width:100%;
    min-width:700px;
    border-collapse:collapse;
}

thead{
    background:#fff3eb;
}

th{
    text-align:left;
    padding:15px;
    color:#f97316;
}

td{
    padding:15px;
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#fffaf7;
}

.status{
    color:#fff;
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.available{
    background:#22c55e;
}

.unavailable{
    background:#dc2626;
}

.low-stock{
    background:#f97316;
}

@media(max-width:768px){

    .lab-header{
        flex-direction:column;
        align-items:flex-start;
        gap:15px;
    }

    .add-btn{
        width:100%;
        justify-content:center;
    }

    .toolbar{
        grid-template-columns:1fr;
    }

}